<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611801684505-k99gs8s473590hpneq5lcv565clruqrh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611801684505-k99gs8s473590hpneq5lcv565clruqrh</string>
	<key>API_KEY</key>
	<string>AIzaSyB3XJ4hHQbSLsUTCTZoq3yMsygTxKtMvGg</string>
	<key>GCM_SENDER_ID</key>
	<string>611801684505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicolasvalentini.ExampleApp</string>
	<key>PROJECT_ID</key>
	<string>exampleapp-360712</string>
	<key>STORAGE_BUCKET</key>
	<string>exampleapp-360712.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611801684505:ios:6d350c57cd889706e4a888</string>
</dict>
</plist>